footer{
  padding: 40px 0;
  background: #ffcc00;
  overflow: hidden;
 p{
   color: #000;
   font-size: 17px;
   font-weight: 300;
 }
  img{
    margin: 20px 0;
  }
  .nav{
    p{
      font-weight: bold;
      font-size:15px;

    }
  }

}