.block_info{
  width: 900px;
  height: 100px;
  margin: auto;
  overflow: hidden;
}
.block_list{
  height: 100px;
  background-color: #2e6da4;
  border: 1px solid #000;
  width: 100px;
  float: left;
}


