section{
  background: url("../img/bgsection.png");
}
.vidget{
  overflow: hidden;
  margin-bottom: 100px;
}
.vidget__box{
  margin: 0;
}
.vidget__box{
  margin: auto;
}
.vidget__graph-images .btn.btn__green, .vidget__graph-images .btn.btn__red{
  padding: 10px 15px;
}
.vidget__graph-images .vidget__graph-buttons{
  width: 260px;
}
.vidget__graph-images .btn:after{
  top:15px;
}
.vidget__graph-images .vidget__graph-buttons{
  padding: 0 25px;
}
section .text_section{
  font-size: 23px;
}
.vidget__input.green__input input {
  color: #6cb92a;
}
.vidget__graph-images .btn__green{
  background: -webkit-linear-gradient(top, #6cb92a, #52a31c);
}
.vidget__graph-images .btn__red{
  background: -webkit-linear-gradient(top, #f55165, #fc253f);
}
.vidget__graph-images .btn.btn__green, .vidget__graph-images .btn.btn__red{
  width: 100%;
}